.left-part__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 330px;
    height: fit-content;
}

.left-part__info div {
    display: flex;
    align-items: center;
    gap: 28px;
}